@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24x;
  color:#3a3a3a;
}

* {
  margin: 0;
  padding: 0;
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: #000;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: #000;
  text-decoration: none;
}

#idSignupAndLogin form{
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
  align-items: center;
}
.already{
  text-align: center;
}

